// I think these rules can override the default rules in GTK+'s fucking Adwaita theme
// I know you don't like GTK+'s nasty css themes, but don't worry because we will fuck them soon.
// OK, Let's fuck GTK+'s motherfucking css rules.

$variant: 'light';

@import 'colors';
@import 'ukui_colors';
@import 'drawing';
@import 'common';
@import 'ukui_common';
@import 'colors-public';
@import 'ukui-applications'
