// I think these rules can override the default rules in GTK+'s Adwaita theme

$variant: 'light';

@import 'ukui-colors';
@import 'ukui-drawing';
@import 'common';
@import 'colors-public';
@import 'ukui-common';

