// I think these rules can override the default rules in GTK+'s Adwaita theme

$variant: 'light';

@import 'colors';
@import 'drawing';
@import 'common';
@import 'ukui_common';
@import 'colors-public';
