/* Fallback Mode Panel */

.gnome-panel-menu-bar {
	background-color: shade(@theme_selected_bg_color, 0.8);
} 

.gnome-panel-menu-bar button:last-child,
.gnome-panel-menu-bar button.flat:last-child {
    padding: 0px;
    border-image: none;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    background-image: none;
    background-color: transparent;
}


/* desktop-applet, clockapplet, drivemount, character-map,
dictionary */
.gnome-panel-menu-bar button,
.gnome-panel-menu-bar button.flat {
/*    transition: all 400ms ease-out;*/
    padding: 0px;
    color: @theme_bg_color;
    border-image: none;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    text-shadow: none;
    background-image: none;
    background-color: alpha(@theme_selected_fg_color, 0.15);
}

.gnome-panel-menu-bar button:last-child:checked:hover,
.gnome-panel-menu-bar button:last-child:checked,
.gnome-panel-menu-bar button:last-child:active:hover,
.gnome-panel-menu-bar button:last-child:active {
    background-color: transparent;
}


.gnome-panel-menu-bar button:checked:hover,
.gnome-panel-menu-bar button:checked,
.gnome-panel-menu-bar button:active:hover,
.gnome-panel-menu-bar button:active {
    background-color: alpha(@theme_selected_fg_color, 0.6);
}


.gnome-panel-menu-bar button:last-child:hover,
.gnome-panel-menu-bar button.flat:last-child:hover {
    background-color: transparent;
}

.gnome-panel-menu-bar button:hover,
.gnome-panel-menu-bar button.flat:hover {
    background-color: alpha(@theme_selected_fg_color, 0.5);
}


