# ==============================================================================
# Kylin startup-menu settings
# ==============================================================================
style "default"
{
	font_name = "Ubuntu 10"
}

widget "*ukuicc*" style "default"
gtk-font-name = "Ubuntu 10"
