Source: ukui-themes
Section: gnome
Priority: optional
Maintainer: Kylin Team <ukui@kylinos.cn>
Uploaders: handsome_feng <jianfengli@ubuntukylin.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://www.ukui.org

Package: ukui-themes
Architecture: all
Depends: gtk2-engines-murrine,
         gtk2-engines-pixbuf,
         ${misc:Depends},
Conflicts: ubuntukylin-theme,
Description: Official themes for the UKUI desktop
 This package contains the official desktop themes of the UKUI desktop
 environment.
